<div id="card_container">

<h1>Login</h1>

<%= form_for :user, :url => sessions_path do |f|%>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
<div class='buttons'>
    <%= f.submit "Sign In", class: 'btn btn-primary' %>
</div>
<%end%>
<div class='buttons'>
    <%= button_to "Login with GitHub", '/auth/github', class: 'btn' %>
</div>

</div>

