<h1>Create a New Residential Station</h1>
<%= form_for :station, url: user_stations_path(current_user) do |f|%>

    <%= f.label :name %><br>
    <%= f.text_field :name%><br>
        
    <%= f.label :city %><br>
    <%= f.text_field :city %><br><br>

    <%= f.label :state %><br>
    <%= f.text_field :state %><br><br>

    <%= f.label :zip %><br>
    <%= f.text_field :zip %><br><br>

    <%= f.label :address %><br>
    <%= f.text_area :address %><br><br>

    <%= f.label :phone %><br>
    <%= f.text_field :phone %><br><br>

    <%= f.submit "Create Residential Station"%>
<%end%>