<h1>Create a New Residential Station</h1>

<%= render "errors" %>

<div id="card_container">

    <%= form_for :station, url: user_stations_path(current_user) do |f|%>

        <%= f.label "Name *" %><br>
        <%= f.text_field :name, required: true %><br>

        <%= f.label :city %><br>
        <%= f.text_field :city %><br><br>

        <%= f.label :state %><br>
        <%= f.text_field :state %><br><br>

        <%= f.label "Zip *" %><br>
        <%= f.text_field :zip, placeholder: "5-digit zip", required: true %><br><br>

        <%= f.label "Address *" %><br>
        <%= f.text_area :address, placeholder:"1234 S James St", required: true %><br><br>

    <!--value added to prevent default N/A as placeholder-->
        <%= f.label :phone %><br>
        <%= f.text_field :phone, value: "", placeholder: "(xxx)xxx-xxxx",required: true %><br><br>
    <div class='buttons'>
        <%= f.submit "Create Residential Station", class: 'btn btn-primary'%>
    </div>
    <%end%>
</div>