<h1> Search </h1>
<%= link_to "Show all #{current_user.name}'s stations", user_stations_path(current_user) %>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Access</th>
    <th>Link</th>
    <th>Add Station</th>
  </tr>
  <% if @stations.any? %>
    <% @stations.each do |s| %>
      <tr>
          <td>
              <%= s.name %>
          </td>
          <td>
              <%= "#{s.address}, #{s.city}, #{s.state}, #{s.zip}" %>
          </td>
          <td>
              <%= s.access %>
          </td>
          <td>
             <%= link_to "Show #{s.name}", station_path(s)%>
          </td>
          <td>
          <!---show add only if user doesn't already have station saved--->
             <%= link_to "Add", add_station_path(current_user, s)%>
          </td>
      </tr>
    <% end %>
  <% end %>
</table>