<h3><%= @station.users.count %> users have this station saved</h3>

<div id="card_container">

   <h3><%= @station.name %></h3><br>
   <p>Address: <%= @station.address %></p>
   <p>City: <%= @station.city %></p>
   <p>State: <%= @station.state %></p>
   <p>Zip: <%= @station.zip %></p>
   <p>Status: <%= @station.status %></p><br>
   <p>Phone Number: <%= @station.phone %></p>

   <p>Notes:</p>
   <ul id="notes">
   <% @station.notes.each do |n| %>
        <li>
            <p> <%= n.content %>  
            <% if n.user ==  current_user %>
               <%= link_to "remove", remove_note_path(n)%>
               <% else %>
               <%= "created by: #{n.user.name}" %>
            <% end %>
            </p>
        </li>
   <% end %>
   </ul>
   
   <%= form_tag station_notes_path(@station) %>
   <%= hidden_field :note, :station_id, value: @station.id %>
   <%= text_area_tag :content %>
   
   <div class='buttons'>
      <%= submit_tag "Add Note", class: 'btn btn-primary'%>

      <% if @station.users.find_by(id: current_user.id) %>
         <%= link_to "Remove Station", remove_station_path(current_user, @station), class: 'btn btn-danger' %>
      <% end %>
   </div>
   
</div>