<div>
   <p>Name: <%= @station.name %></p>
   <p>State: <%= @station.state %></p>
   <p>City: <%= @station.city %></p>
   <p>Address: <%= @station.address %></p> 
   <p>Access: <%= @station.access %></p> 
   <p>Electric: <%= @station.electric? %></p> 
   <p>Outlet Types: <%= @station.outlets %></p>
</div>