<h3><%= @user_count %> users have this station saved</h3>

<div id='card_container'>

   <h3><%= @station.name %></h3><br>
   <p>Address: <%= @station.address %></p>
   <p>City: <%= @station.city %></p>
   <p>State: <%= @station.state %></p>
   <p>Zip: <%= @station.zip %></p>
   <p>Status: <%= @station.status %></p><br>
   <p>Phone Number: <%= @station.phone %></p>

   <p>Notes:</p>
   <ul id='notes'>
   <% @station_notes.each do |n| %>
        <li>
        <div class='note'>
            <p> <%= n.content %> </p>
            <% if n.user ==  @user %>
               <%= button_to 'remove', station_note_path(@station.id, n.id), method: 'delete', id:'remove_note' %>
               <% else %>
               <%= "created by: #{n.user.name}" %>
            <% end %>
         </div>
        </li>
   <% end %>
   </ul>
   
   <%= form_with url: station_notes_path(@station) do |f| %>
   <%= hidden_field_tag :note, :station_id, value: @station.id %>
   <%= f.text_area :content %>
   
   <div class='buttons'>
      <%= submit_tag 'Add Note', class: 'btn btn-primary' %>
      <% end %>
      <% if @station.users.find_by(id: @user.id) %>
         <%= button_to 'Remove Station', remove_station_path(@user, @station), method: 'delete', class: 'btn btn-danger' %>
      <% end %>
   </div>
   
</div>