<div id="card_container">

    <h1>Edit User</h1>
    <%= form_for :user, url: user_path(current_user), :method => :patch do |f|%>
    
        <%= f.label :email %><br>
        <%= f.email_field :email, value: current_user.email %><br>
    
        <%= f.label :password %><br>
        <%= f.password_field :password %><br>

    <div class="buttons">
        <%= f.submit "Update User", class: 'btn btn-primary'%>
    </div>

    <%end%>
    
    <div class="buttons">
        <%= button_to "Delete Account", user_path(current_user), :method => :delete, class: 'btn btn-danger'%>
    </div>

</div>