<div id="signup_login_container">

<h1>Sign Up</h1>

<%= form_for(:user, url:'/signup') do |f|%>

    <%= f.label :name %><br>
    <%= f.text_field :name%><br>

    <%= f.label :zip %><br>
    <%= f.text_field :zip %><br>

    <%= f.label :email %><br>
    <%= f.email_field :email %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

    <%= f.submit "Sign Up"%>
<%end%>


</div>
