<div id="card_container">

    <h1>Sign Up</h1>
    
    <%= form_for :user, url: users_path do |f|%>
        <%= f.label :name %><br>
        <%= f.text_field :name, required: true%><br>
    
        <%= f.label :zip %><br>
        <%= @user.errors.full_messages_for(:zip)[0] if @user.errors.any? %>
        <%= f.text_field :zip, required: true %><br>
    
    
        <%= f.label :email %><br>
        <%= f.email_field :email, required: true %><br>
    
        <%= f.label :password %><br>
        <%= f.password_field :password, required: true %><br>
    
        <%= f.submit "Sign Up", class: 'btn'%>
    <%end%>

    <%= button_to "Login with GitHub", '/auth/github', class: 'btn' %>
    
</div>