<h1>Welcome, <%= _user.name %>!</h1>
<h4> You have <%= @stations.count %> stations in your zip.</h4>
<%= link_to "Show all #{_user.name}'s stations", "_users/#{_user.id}/stations" %>
<%= link_to "Check for Updates", "/stations/updated" %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Access</th>
    <th>Link</th>
    <th>Add Station</th>
  </tr>
  <% @stations.each do |s|%>
    <tr>
        <td>
            <%= s.name %>
        </td>
        <td>
            <%= "#{s.address}, #{s.city}, #{s.state}, #{s.zip}" %>
        </td>
        <td>
            <%= s.access %>
        </td>
        <td>
           <%= link_to "Show #{s.name}", "/stations/#{s.id}"%>
        </td>
        <td>
        <!---show add only if current_user doesn't already have station saved--->
           <%= link_to "Add", "_users/#{current_user.id}/stations/#{s.id}"%>
        </td>
    </tr>
  <% end %>
</table>