<h1>Welcome, <%= @user.name %>!</h1>
<h4> You have <%= @stations.count %> stations near you</h4>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Access</th>
    <th>Link</th>
  </tr>
  <% @stations.each do |s|%>
    <tr>
        <td>
            <%= s.name %>
        </td>
        <td>
            <%= s.address %>
        </td>
        <td>
            <%= s.access %>
        </td>
        <td>
        <% if admin? %>
            <% if s.flagged %>
                <%= link_to "Flagged for Inspection", "/stations/#{s.id}", :style=>'color: red;'%>
            <% else %>
                <%= link_to "Show #{s.name}", "/stations/#{s.id}"%>
            <% end %>
        <%else%>
           <%= link_to "Show #{s.name}", "/stations/#{s.id}"%>
        <%end%>
        </td>
    </tr>
  <% end %>
</table>