<h1>Welcome, <%= current_user.name %>!</h1>
<% if @message %>
  <h4><%= @message %></h4>
<% else %>
  <h4> You have <%= @stations.count %> stations in your zip.</h4>
<% end %>

<%= link_to "Show all #{current_user.name}'s stations", user_stations_path(current_user) %> |
<%= link_to "Check for Updates", "/stations/check_for_updates" %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Access</th>
    <th>Link</th>
    <th>Add Station</th>
  </tr>
  <% @stations.each do |s|%>
    <tr>
        <td>
            <%= s.name %>
        </td>
        <td>
            <%= "#{s.address}, #{s.city}, #{s.state}, #{s.zip}" %>
        </td>
        <td>
            <%= s.access %>
        </td>
        <td>
           <%= link_to "Show #{s.name}", station_path(s)%>
        </td>
        <td>
        <!---show add only if current_user doesn't already have station saved--->
           <%= link_to "Add", add_station_path(current_user, s)%>
        </td>
    </tr>
  <% end %>
</table>