<h1>Welcome, <%= @user.name %>!</h1>
<h4> You have <%= @stations.count %> stations saved.<%= @user.updates?%></h4>
<%= link_to "Show stations near #{@user.name}", user_path(@user) %>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Access</th>
    <th>Link</th>
  </tr>
  <% @stations.each do |s|%>
    <tr>
        <td>
            <%= s.name %>
        </td>
        <td>
            <%= "#{s.address}, #{s.city}, #{s.state}, #{s.zip}" %>
        </td>
        <td>
            <%= s.access %>
        </td>
        <td>
           <%= link_to "Show #{s.name}", "/stations/#{s.id}"%>
        </td>
    </tr>
  <% end %>
</table>