<h1>Welcome, <%= current_user.name %>!</h1>
<h4> You have <%= @stations.count %> stations saved.</h4>
<%= link_to "Show stations near #{current_user.name}", user_path(current_user) %>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Access</th>
    <th>Link</th>
  </tr>
  <% @stations.each do |s|%>
    <tr>
        <td>
            <%= s.name %>
        </td>
        <td>
            <%= "#{s.address}, #{s.city}, #{s.state}, #{s.zip}" %>
        </td>
        <td>
            <%= s.access %>
        </td>
        <td>
           <%= link_to "Show #{s.name}", station_path(s), class:'btn btn-primary' %>
        </td>
    </tr>
  <% end %>
</table>