<h1>Welcome, <%= current_user.name %>!</h1>
<h4> You have <%= @stations.count %> stations saved.</h4>
<%= link_to "Show stations near #{current_user.name}", user_path(current_user), class:'btn btn-primary' %>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Access</th>
    <th>Link</th>
    <th>Visited</th>
  </tr>
  <% @stations.each do |s|%>
    <tr>
        <td>
            <%= s.name %>
        </td>
        <td>
            <%= "#{s.address}, #{s.city}, #{s.state}, #{s.zip}" %>
        </td>
        <td>
            <%= s.access %>
        </td>
        <td>
           <%= link_to "Show #{s.name}", station_path(s.id) %>
        </td>
        <td>
        <% if @users_stations.find_by(station_id: s.id).date_visited.nil? %>
            <%= form_tag add_date_station_path(id: s.id), method: :patch %>
            <%= hidden_field :date_visited, :station_id, value: s.id %>
            <%= label_tag :date_visited %>
            <%= text_field_tag :date_visited %>
            
            <div class='buttons'>
               <%= submit_tag "Update", class: 'btn btn-primary'%>
            </div>
            <% else %>
              <%= @users_stations.find_by(station_id: s.id).date_visited %>
            <% end %>
        </td>
    </tr>
  <% end %>
</table>